[Unit]
Description=authentication-service
After=syslog.target

[Service]
ExecStart=/opt/authentication-service/bin/authentication-service

[Install]
WantedBy=multi-user.target
